# Ignore node_modules
node_modules

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore build files
dist
build

# Ignore environment variables
.env

# Ignore Docker files
Dockerfile
docker-compose.yml

# Ignore IDE files
.vscode
.idea

# Ignore OS files
.DS_Store
Thumbs.db